.form-card {
    background: rgba( 255, 255, 255, 0.15 );
    backdrop-filter: blur( 7px );
    -webkit-backdrop-filter: blur( 7px );
    box-shadow: 0 8px 32px 0 rgba( 0, 0, 0, 0.18 );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.35 );
}