.background {
    background: #50c9c3; /* fallback for old browsers */
    background: -webkit-linear-gradient(
        to right,
        #96deda,
        #50c9c3
    ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
        to right,
        #96deda,
        #50c9c3
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.navigation {
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(7px);
    -webkit-backdrop-filter: blur(7px);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.18);
    border: 1px solid rgba(255, 255, 255, 0.35);
}
